{% extends 'base.html' %}

{% block conteudo %}
<div class="container">
    <div class="card">
        <form id="form-login" action="{{url_for('login')}}" method="post">
            <h2>Entrar</h2>

            <label>Email</label>
            <input id="input-email" class="form-control" type="text" name="form-email" placeholder="Digite seu email">

            <label>Senha</label>
            <input id="input-senha" class="form-control" type="password" name="form-senha" placeholder="Digite sua senha">

            <button type="submit" class="button_login">Entrar</button>
            <a class="button_login_cancelar btn-danger" onclick="limpaInputsLogin()">Cancelar</a>

        </form>
    </div>
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Cadastrar-se
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-modal" class="form-soma" action="{{ url_for('tabela_cadastro') }}" method="post">
                    <label> Nome
                        <input id="input-nome" placeholder="Digite um nome" name="form-nome" class="form-control" required>
                    </label>

                    <label> Data
                        <input id="input-data" placeholder="Digite sua data de nascimento" type="date" name="form-data"
                               class="form-control" required>
                    </label>
                    <label> Cpf
                        <input id="input-cpf" placeholder="Digite seu cpf" name="form-cpf" class="form-control" required>
                    </label>
                    <label> Email
                        <input id="input-email2" placeholder="Digite seu email" type="email" name="form-email" class="form-control"
                               required>
                    </label>
                    <label> Senha
                        <input id="input-senha2" placeholder="Digite sua senha" name="form-senha" class="form-control" required>
                    </label>
                    <label> Cargo
                        <input id="input-cargo" placeholder="Digite seu cargo" name="form-cargo" class="form-control" required>
                    </label>
                    <label> Salario
                        <input id="input-salario" placeholder="Digite seu salario" type="number" name="form-salario" class="form-control"
                               required>
                    </label>

                    <button type="submit" class="btn btn-info">cadastrar</button>
                    <button class="btn btn-info" onclick="limpaInputsModal()">Cancelar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
